<header id="header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h1 id="logo">{{ site.title }}</h1>
      </div>
      <div class="col-md-6 col-xs-12 text-right">
        <a id="download" href="#" class="hidden">
          <span class="glyphicon glyphicon-print"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div id="about" class="media">
          <div class="media-left">
            <img src="/images/photo.jpeg" alt="Justin Chmura" class="img-rounded">
          </div>
          <div class="media-body">
            <h4>Software Developer</h4>
            <p>
              Hey there, my name is Justin Chmura. I've been doing professional development ever
              since I graduated high school and haven't looked back since. Most of my focus has been
              in .NET technologies, but I've also got chops developing in JavaScript, including Node. 
              I'm always looking for a challenge so I would love to hear from you.
            </p>
            <p id="signature">
              Justin Chmura
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <span class="glyphicon glyphicon-inbox"></span>
            <span class="email" data-user="justin.chmura" data-domain="gmail.com"></span>
          </div>
          <div class="col-md-6 col-xs-6">
            <span class="glyphicon glyphicon-map-marker"></span>
            Scottsdale, AZ
          </div>
        </div>
        <div id="social" class="row">
          <div class="col-md-6 col-xs-6">
            <a href="http://justinchmura.com/" target="_blank">
              <span class="glyphicon glyphicon-globe"></span>
            </a>
            <a href="http://twitter.com/justinchmura" target="_blank">
              <span class="fa fa-twitter"></span>
            </a>
            <a href="http://github.com/justinchmura" target="_blank">
              <span class="fa fa-github"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>